node_modules
dist
**/dist
**/*.tsbuildinfo

.git
.gitignore

.env
.env.*
!.env.example

packages/banner-renderer/output
apps/compat-runner/output
compat-output
output
outputs

../banner-api
../mc-api
../discord-api
banner-api
mc-api
discord-api

*.zip
*.sql
*.sql.gz
*.log
*.tar
*.tar.gz
*.7z
*.tgz
logs
npm-debug.log*
bun-debug.log*

docs
