node_modules
dist
**/dist
**/*.tsbuildinfo

.git
.gitignore

.env
.env.*
!.env.example

packages/banner-renderer/output
apps/compat-runner/output
compat-output
output
outputs

../banner-api
../mc-api
../discord-api
banner-api
mc-api
discord-api

*.zip
*.tar
*.tar.gz
*.7z

docs
